@{
    ViewData["Title"] = "Home Page";
}

 <style>
        h1 {
            color: cornflowerblue;
        }
       
    </style>

<div class="text-center">
    <h1 class="display-4">Welcome to Nadas Web Application</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

